*
    margin 0
    padding 0
    box-sizing border-box

*:after,
*:before
    box-sizing inherit

html,
body
    height 100%

body
    font()
    width 100%
    display block

a,
img
    border none

a
    text-decoration none

video,
iframe
    display block
    max-width 100%

input,
select,
textarea
    outline none
    box-shadow none
    border-radius 0
    border 1px solid $c-gray

textarea
    resize none

[hidden]
    display none

.row
    row()