.filter
    background linear-gradient(45deg, $c-primary 0%, $c-secondary 100%)
    width 100%
    padding 30px 0

    .submit
        button($c-primary, $c-white, 20px, 8px, 15px)

    .input,
    .submit
        display inline-block
        vertical-align bottom
        margin-right 20px
